/**************************/
/* HEADER */
/*************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(250, 201, 153, 0.24)
  );

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.baia-logo {
  height: 9.6rem;
  display: block;
}

/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0ca678;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #0ca678;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #099268;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/*************************/
.section-hero {
  background-color: #fff;
  /* padding: 9.6rem 0; */
  padding: 4.8rem 0 9.6rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 255, 255),
    #fbc99874
  );
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  font-family: "Cormorant Garamond", serif;
  font-size: 6.8rem;
  font-weight: 700;
  /* color: #333; */
  color: #33271d;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #604f1b;
}

.btn--full:link,
.btn--full:visited {
  background-color: #0ca678;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #099268;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #c3fae8;
  background: #fff;
  /* color: #555; */
  color: #604f1b;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fff;
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255),
    rgba(250, 201, 153, 0.3)
  );

  box-shadow: inset 0 0 0 3px #fff;
}

.down-arrow {
  font-family: sans-serif;
}

.hero-img {
  width: 100%;
  display: block;
  box-shadow: -0.5rem 0 2rem rgba(0, 0, 0, 0.075);
  /* box-shadow: -1rem -1rem 2rem #b9d9cf; */
  transition: all 0.3s;
  border-radius: 11px;
}

.hero-product-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  /* margin-top: 6.4rem; */
  margin-top: 8rem;
}

.product-images {
  display: flex;
}

.hero-product-img {
  height: 6.2rem;
  border-radius: 10rem;
  margin-right: -1.2rem;
  border: 3px solid #fef3e8;
}

.hero-product-img:last-child {
  margin: 0;
}

.hero-products-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #604f1b;
}

.hero-products-text span {
  color: #099268;
  font-weight: 700;
}

/**************************/
/* SHOPS SECTION */
/*************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.featured-logo {
  filter: brightness(0);
  opacity: 50%;
  transition: all 0.3s;
}

.featured-logo:hover {
  filter: brightness(1);
  opacity: 100%;
}

.featured-etsy-logo {
  height: 5rem;
}

.featured-shopier-logo {
  height: 8.2rem;
  transform: translate(2rem, 1rem);
}

.featured-trendyol-logo {
  height: 5.2rem;
}

/**************************/
/* EXPLORE SECTION */
/*************************/
.section-explore {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
}

.step-img {
  width: 90%;
  display: block;
  border-radius: 11px;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.075);
  filter: brightness(0.95);
}

/**************************/
/* FEATURES SECTION */
/*************************/
.section-features {
  display: grid;
  grid-template-columns: 55fr 45fr;
  grid-template-columns: 65fr 35fr;
  align-items: center;

  background-image: linear-gradient(
    to right bottom,
    rgb(255, 255, 255),
    #fbc99874
  );
}

.features-container {
  padding: 9.6rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 9.6rem;
  row-gap: 6.4rem;
}

.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #555;
  color: #4c3b07;
  color: #0ca678;
  background-color: transparent;
  margin-bottom: 2.4rem;
  padding: 1.6rem;
  border: 3px solid #fff;
  border-radius: 50%;
}

.feature-title {
  font-size: 2rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  display: block;
  transition: all 0.3s;
  filter: brightness(0.9);
}

.gallery-img:hover {
  transform: scale(1.1);
}

/**************************/
/* COLLECTION SECTION */
/*************************/
.section-collection {
  padding: 9.6rem 0;
}

.collection-text-box {
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 255, 255),
    #fbc99874
  );

  padding: 1.2rem 2.4rem;
  border-radius: 11px;

  display: flex;
  flex-direction: column;
}

.collection-img-box {
  overflow: hidden;
  border-radius: 11px;
}

.collection-img {
  display: block;
  width: 100%;
  border-radius: 11px;
  transition: all 0.3s;
}

.collection-img:hover {
  transform: scale(1.05);
}

.heading-collection {
  font-size: 3.6rem;
}

.collection-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.collection-list li {
  /* font-size: 1.6rem; */
  font-size: 1.8rem;
  font-weight: 500;
  color: #4c3b07;
}

.collection-list li:last-child {
  font-size: 1.6rem;
  font-style: italic;
  color: #604f1b;
}

.collection-logo-box {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  gap: 2.4rem;
  background-color: #fffffeab;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);

  align-self: center;
}

.collection-logo-img {
  width: 6rem;

  filter: brightness(0);
  opacity: 50%;
  transition: all 0.3s;
}

.collection-logo-img:hover {
  filter: brightness(1);
  opacity: 100%;
}

.etsy-logo {
  width: 5.5rem;
  transform: translateY(0.3rem);
}

.shopier-logo {
  width: 8rem;
  transform: translateY(0.45rem);
}

.trendyol-logo {
  width: 8rem;
}

.shop-with-text {
  display: inline-block;
  /* margin-left: 10rem; */
  font-size: 2rem;
  color: #0ca678;
  color: #333;
  color: #099268;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed currentColor;
  margin-bottom: 1.2rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: center;
}

/**************************/
/* MORE SECTION */
/*************************/
.section-more {
  padding: 9.6rem 0;
}

.more-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* align-items: center; */
}

.more {
  max-width: 120rem;
  margin: 0 auto;
  /* box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075); */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.025);
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 255, 255),
    #fbc99874
  );

  overflow: hidden;

  border-radius: 11px;

  animation: breathe 2.5s infinite ease-in-out;
}

.more-heading {
  font-size: 3.2rem;
  margin-bottom: 4.8rem;
  background-image: linear-gradient(to right bottom, #604f1b, #4c3b07);
  background-clip: text;
  color: transparent;
}

.more-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 6.4rem;
  color: #604f1b;
}

.more-text-box {
  padding: 3.2rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.more-shop-text {
  /* border-bottom: none; */
  /* padding: 0; */
  margin: 0;
  font-weight: 700;
}

.more-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(224, 166, 115, 0.35),
      rgba(251, 201, 152, 0.273)
    ),
    url(../img/backgrounds/shirguz-cover.jpg);
  background-size: cover;
  background-position: center;
}

.shop-with-box {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2.4rem;
}

/**************************/
/* MEDIA */
/*************************/
.section-connect {
  padding: 9.6rem 0;
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255) 45%,
    rgba(208, 155, 101, 0.24) 60%,
    rgba(225, 133, 42, 0.24) 70%,
    rgba(222, 188, 154, 0.24) 90%,
    rgba(253, 252, 251, 0.24) 99%
  );
}

.grid-media {
  grid-template-columns: 1fr 1.5fr;
  gap: 0;
  align-items: center;
  margin-bottom: 6.4rem;
}

.video-container {
  display: grid;
  justify-items: end;
}

.video {
  max-width: 100%;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.075);
}

.video-grid {
  transform: translateX(4rem);
}

.media-content {
  display: grid;
  justify-items: end;
}

/* FLEXBOX MEDIA */
.flex-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-flex {
  max-width: 454.4px;
  height: 646.85px;
  margin-right: 4rem;
  opacity: 0.6;
}

.media-content-box {
  width: 540px;
  height: 722px;
  opacity: 0.7;
}

/**************************/
/* FOOTER */
/*************************/
.footer {
  padding: 12.8rem 0;
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.logo-col {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-self: end;
}

.baia-logo--footer {
  display: block;
  width: 16rem;
}

.social-links {
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.social-icon {
  height: 3.2rem;
  width: 3.2rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.mail-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mail-box:hover .footer-link,
.mail-box:active .footer-link {
  color: #555;
}

.address-col {
  justify-self: left;
  align-self: center;
}

.copyright-col {
  grid-column: 1 / -1;
}

/* FOR JAVASCRIPT REVEALING SECTIONS */
.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* ANIMATIONS */

@keyframes breathe {
  0% {
    transform: translateY(0.2rem);
  }

  50% {
    transform: translateY(-0.2rem) scale(1.03);
    box-shadow: 0 1.8rem 3rem rgba(0, 0, 0, 0.08);
  }

  100% {
    transform: translateY(0.2rem);
  }
}
